<!DOCTYPE html>
<html>
<head>
    <title>Search Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Search Books</h1>
    <input type="text" id="searchInput" placeholder="Search...">
    <ul id="bookList">
        <!-- Hasil pencarian akan ditampilkan di sini -->
    </ul>

    <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var query = $(this).val();
                $.ajax({
                    method: 'GET',
                    url: '/search?query=' + query,
                    success: function (data) {
                        $('#bookList').html(data);
                    }
                });
            });
        });
    </script>
</body>
</html>
