<!DOCTYPE html>
<html>
<head>
    <title>Background Music</title>
</head>
<body>
    <audio id="backgroundMusic" loop autoplay>
        <source src="audio/murotal.mp3" type="audio/mpeg" autoplay="true"
        muted="muted">
        Your browser does not support the audio element.
    </audio>

    <button id="playButton">Pause</button>

    <script>
        const backgroundMusic = document.getElementById('backgroundMusic');
        const playButton = document.getElementById('playButton');

        // Fungsi untuk mengubah label tombol dan mengontrol pemutaran musik
        function toggleMusic() {
            if (backgroundMusic.paused) {
                backgroundMusic.play();
                playButton.textContent = 'Pause';
            } else {
                backgroundMusic.pause();
                playButton.textContent = 'Play';
            }
        }

        // Panggil toggleMusic saat tombol diklik
        playButton.addEventListener('click', toggleMusic);

        // Panggil toggleMusic saat halaman dimuat (untuk memutar musik secara otomatis)
    </script>
</body>
</html>
